
/* Your CSS Code here. */

[data-ns-test^="block-inline-button"] {
  display: inline;
  background-color: lightblue;
  border: none;
  padding: 5px;
  margin: 5px;
}

[data-ns-test^="block-inline-div"] {
  display: block;
  background-color: lightgreen;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

[data-ns-test^="block-inline-span"] {
  display: inline;
  background-color: lightyellow;
  padding: 5px;
  margin: 5px;
}

[data-ns-test^="block-inline-p"] {
  display: block;
  background-color: lightgray;
  border: 1px dotted black;
  padding: 5px;
  margin: 5px;
}

[data-ns-test^="block-inline-input"] {
  display: inline;
  background-color: lightcyan;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

[data-ns-test^="block-inline-cite"] {
  display: inline;
  background-color: lightpink;
  padding: 5px;
  margin: 5px;
}

[data-ns-test^="block-inline-code"] {
  display: inline;
  background-color: lightsalmon;
  padding: 5px;
  margin: 5px;
}

[data-ns-test^="block-inline-h1"] {
  display: block;
  background-color: lightsteelblue;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

[data-ns-test^="block-inline-sup"] {
  display: inline;
  background-color: mintcream;
  padding: 5px;
  margin: 5px;
}

[data-ns-test^="block-inline-sub"] {
  display: inline;
  background-color: lavender;
  padding: 5px;
  margin: 5px;
}